AUTH_GRPC_PORT=50051
AUTH_REST_PORT=8088

KEYCLOAK_BASE_PATH=http://keycloak:8080
KEYCLOAK_REALM=realm
KEYCLOAK_CLIENT_ID=client
KEYCLOAK_CLIENT_SECRET=4efc7d46-12fb-4d97-9d18-d95f8c38b7b7
KEYCLOAK_AUDIENCE=account

KEYCLOAK_DB=keycloak
KEYCLOAK_USERNAME=username
KEYCLOAK_PASSWORD=password

ELASTIC_APM_SERVER_URL=http://apm-server:8200

EMPLOYEE_SERVICE_ADDR=employee-service:50051

KAFKA_BOOTSTRAP_SERVERS=kafka:9094
